.title img {
  background: rgb(175, 175, 175);
  vertical-align: middle;
}

.title {
  text-wrap: nowrap;
  vertical-align: middle;
}

.quiz .question {
  list-style-type: decimal;
}

.quiz .answers {
  list-style-type: none;
}

.quiz .answers .choice button {
  background: #ccc;
  color: #2c2c2c;
  font-weight: bold;
  font-size: 0.8em;
  border: 2px solid #000;
  width: 2.5em;
  height: 2em;
}

.quiz .answers
.choice:not(.correct):not(.incorrect)
button:hover {
  cursor: pointer;
  background: #9e9e9e;
}

.quiz .answers
.choice:not(.correct):not(.incorrect)
button:active {
  background: #363636;
  color: #fff;
}

.quiz .answers
.choice.correct
button {
  background: url(correct.png) no-repeat center;
  background-size: 2em;
}

.quiz .answers
.choice.incorrect
button {
  background: url(incorrect.png) no-repeat center;
  background-size: 1.75em;
}

.quiz .answers
.choice.correct
button span,
.quiz .answers
.choice.incorrect
button span {
  font-size: 0;
}

body {
  text-align: start;
  text-indent: 50px;
  line-height: 1.8;
  color: black;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 4%;
  background-color:rgb(175, 175, 175);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
